<%
  @departments = Department.find(:all, :order => :name)
%>
<div id="departments">
  <hr />
  <div class="contextual">
  <% if authorize_for('departments', 'addissue') %>
      <%= toggle_link l(:button_add), 'new-department-form' %>
  <% end %>
  </div>

  <p><strong><%= l(:field_departments) %></strong></p>
  <%= render :partial => 'issue_departments/list', :locals => {:issue => @issue} %>
	
  <% remote_form_for(:department, @department, 
       :url => {:controller => 'departments', :action => 'addissue', :issue_id => @issue},
       :method => :post,
       :html => {:id => 'new-department-form', :style => (@department ? '' : 'display: none;')}) do |f| %>
    <%= render :partial => 'issue_departments/form', :locals => {:f => f}%>
  <% end %>
</div>

