<% if (request.headers["User-Agent"].match(/Mac OS X/)) 
    multi_select_key = l(:multi_select_key_command) 
  else 
    multi_select_key = l(:multi_select_key_control)
  end %>
<p>
  <label><%= l(:label_department_plural) %></label>
        <%= select('issue', 'department_ids', Department.all.sort_by(&:name).collect {|d| [ d.name, d.id ] }, { :include_blank => l(:select_no_department) }, {:size => 7, :multiple => :multiple } ) %><br />
        
        <span style="font-size:75%">(Hold <%= multi_select_key %> to select multiple departments)</span>
</p>