<div class="contextual">
  <%= link_to('New Department', new_department_path, :class => 'icon icon-add') %>
</div>
<h2>Departments</h2>
<div id="departments">

  <%= render :partial => 'list' %>

</div>

<% html_title(l(:title_department_plural)) -%>
