                <tr>
                  <td><%= contact_form.text_field :name, :size => 15 %></td>
                  <td><%= contact_form.text_field :email, :size => 20 %></td>
                  <td><%= contact_form.text_field :phone, :size => 15 %></td>
                  <td><%= contact_form.text_field :courses, :size => 20 %></td>
                </tr>
