<table class="list">
	<thead style="text-align:left;">
    <tr>
      <th style="width:200px;">Name (click to email)</th>
      <th>Phone</th>
      <th>Courses</th>
			<% if authorize_for_with_global :departments, :removecontact, true %>
      <th>Remove</th>
			<% end %>
    </tr>
  </thead>
  <tbody>
    <%- @department.contacts.each do |contact| %>
      <tr>
      <td><%= mail_to contact.email, contact.name %></td>
      <td><%=h number_to_phone(contact.phone) %></td>
      <td><%- if ( contact.courses != '') %>
            <%= contact.courses %>
          <%- end %>
      </td>
			<% if authorize_for_with_global :departments, :removecontact, true %>
      <td><%= link_to_remote(image_tag('delete.png'), {
        :url => {
          :action => 'removecontact',
          :controller => 'departments',
          :id => @department.id,
          :contact_id => contact.id,
          :only_path => true,
        },
        :confirm => "Remove Contact?",
        :method => :post})
      %>
      </td>
			<% end %>
    </tr>
    <%- end %>
  </tbody>
</table>