<%- @department.contacts.each do |contact| %>
  <p><%= mail_to contact.email, contact.name %> (<%=h number_to_phone(contact.phone) %>) 
  <%= link_to_remote(image_tag('delete.png'), {
    :url => {
      :action => 'removecontact',
      :controller => 'departments',
      :id => @department.id,
      :contact_id => contact.id,
      :only_path => true,
    },
    :confirm => "Remove Contact?",
    :method => :post})
  %>
  </p>
  <%- if ( contact.courses != '') %>
    <ul>
      <%- contact.courses.split(',').each do |course| %>
      <li><%= course %></li>
      <%- end %>
    </ul>
  <%- end %>
<%- end %>